/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@100;200;300;400;500;600&display=swap'); */


/* @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Noto+Sans+Display&family=Source+Sans+3:wght@400;600&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Noto+Sans+Display&family=Roboto:wght@300;400&family=Source+Sans+3:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Inter:wght@200;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
  
* {
  /* font-family: 'Source Sans 3', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

.sky {
    background: #99badd;
    
  } 

.fredoka {
  font-family: 'Fredoka', sans-serif;
}

.notoSans {
  font-family: 'Noto Sans Display', sans-serif;
}

.luckiestGuy {
  font-family: 'Luckiest Guy', 'cursive';
}

.font-shadow {
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.font-outline {
  text-shadow:
      1px 1px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
      1px 1px 0 #000;
}

.wrapperBoxShadow {
  box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.132) inset, -4px -4px 10px 1px rgba(0, 0, 0, 0.132) inset;
}

.innerBoxShadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  z-index: 100;
}

.innerBoxShadowTableLeft {
  box-shadow: 13px 25px 28px -35px rgba(0,0,0,0.45) inset;

}

.innerBoxShadowTableTop {
  box-shadow: 0 25px 28px -35px rgba(0,0,0,0.45) inset;
}

.innerBoxShadowTableRight {
  box-shadow: -13px 25px 28px -35px rgba(0,0,0,0.45) inset;
}



.outerBoxShadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contentBeigeBox{
  background: rgba(105, 107, 106, 0.16);
  z-index: 0;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset; */
}

.greenBorderLeft {
box-shadow :-10px 0px 1.5px 0px #008854;
}

.container-snap::-webkit-scrollbar {
    display: none;
}

  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

 
  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }



